body {
    font-family: "Raleway";
    font-weight: 700px;
    display: grid;
    gap: 5px;
    grid-template-columns: 15%;
    grid-template-areas: "n n"
        "h h"
        "m m"
        "f f"; 
}

header {
    grid-area: h;
}

nav {
    grid-area: n;
    background-color: #01579B;
    color: white;
}

main {
    grid-area: m;
}

footer {
    grid-area: f;

}

/***********************Flex menu navegación********************/
.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex .header {
    margin-top: 0px;
    font-weight: bold;

}

.flex .header .fa-solid {
    padding-right: 4px;
}

.flex .header span {
    display: contents;

}

.flex .header span i {
    padding-left: 64px;
    align-self: flex-end;
}

.flex .item {
    margin-bottom: 0px;
    display: none;
}

/********************Flex fotos autos************************/
.flex-main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 5px;
}

.flex-main div {
    border: 1px solid red;
    width: 100%;
}

.flex-main div img {
    width: 100%;
    /* height: 100%;    */
}

.flex-main p {
    text-align: center;
    margin: 0px 0px;

}

.flex-main form {
    margin: 5px 0px;
    text-align: center;
}

img {
    height: 100px;

}

div button {
    background-color: #01579B;
    color: white;
    border-radius: 5px;
    border-color: blue;
    /* height: 30px; */
    width: 50%;
}

#orden {
    width: 100%;
}

footer {
    text-align: center;
    background-color: #012F6B;
    color: white;
}

/*Inicial*/
@media (min-width:576px) {
    body {
        grid-template-columns: 15% 1fr;
        grid-template-areas: "n h"
            "n m"
            "f f";

            /* grid-template-areas: "n n"
            "h h"
            "m m"
            "f f"; */
    }

    .flex .item {
        display: flex;
    }

    .flex .header span {
        display: none;
    }

    .flex-main {
        flex-flow: row wrap;
    }

    .flex-main div {
        width: auto;
    }

    /* .flex-main img {    
        height: 100%; 
        width: 100%;   
    } */
}